header {
  background: #333333;
  height: 80px;
  width: 100%;
  .container {
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerLeft {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $main-color;
      h2 {
        margin: 0;
      }
    }
  }
  .headerRight {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        margin-right: 20px;
        a {
          text-decoration: none;
          color: $main-color;
          font-size: 16px;
          position: relative;
          z-index: 2;
          &:hover {
            &:after {
              content: '';
              position: absolute;
              top: -3px;
              left: -6px;
              height: calc(100% + 6px);
              width: calc(100% + 12px);
              background-color: DarkGrey;
              display: block;
              z-index: -1;
              opacity: .4;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}